body {
  width: 1200px;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-weight: normal;
	font-family: PT Sans;
}

h2 {
	font-size: 21px;
	line-height:26px;
	color: #000000;
	font-weight: bold;
}

h3 {
	font-size: 21px;
	line-height:21px;
	color: #000000;
	font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  width: 1200px;
  padding: 22px 73px;


}

.main-navigation {
  width: 1056px;

}

.pucture {
  width: 1200px;
  height: 508px;
}

.slogan {
  width: 446px;

}

.index-content {

}

.index-content-left {
  float: left;

}

.index-content-right {
  float: left;
  background-color: #81b3d2;

}

.features-name {
  padding-top: 60px;
  padding-left: 73px;
}
.house {
  float: left;
  width: 370px;


}

.food {
  float: left;
  width: 370px;

}

.souvenirs {
  float: left;
  width: 370px;

}

.area {
  float: left;
  width: 400px;
  padding-right: 10px;
  background: #eeeeee;
}

.road {
  float: left;
  width: 400px;
  padding-right: 10px;
  background: #eeeeee;
}

.area,.road,.tourist {
  float: left;
  width: 400px;
  background: #eeeeee;
}

}

.question {
  padding-left: 316px;
  padding-right: 316px;
  padding-top: 58px;
  padding-bottom: 52px;
}

.question-title {
  width: 568px;

}

.search-hotel {

}

.form {
  width: 568px;
  padding-left: 55px;
  padding-right: 55px;
}

.map {
  width: 1200px;
  height: 593px;
}

.main-footer {
  padding-left: 73px;
  padding-right: 73px;
}

.hashtag {
  display: inline-block;
  width: 240px;
  margin-left: 88px;
}

.footer-social {
  display: inline-block;
  width: 400;
  margin-right: 88px;
}

.footer-copyright {
  display: inline-block;
  width: 240px;
}

/*Внутренная страница*/
.filter{
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 33px;
}
.infrastructure {
  float: left;
  width: 240px;

}

.type-house {
  float: left;
  width: 240px;

}

.price {
  float: left;
  width: 328px;

}

.search-result {

}

.hotel {
  width: 530px;
  padding-left: 73px;
  padding-right:  73px;
  padding-top: 31px;
  padding-bottom: 31px;

}

.hotel-image {
  width: 135px;
  margin-left: 30px;
}
.hotel-title {
  width: 258px;

}

.info {
  width: 110px;
  margin-right: 6px;
}

.cost {
  width: 142px;
  margin-right: 393px;
}

.rating {
  width: 241px;
}
